body {
  background-color: #efe8af;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #f2f2f2;
  text-decoration: none;

  &:visited {
    color: #grey;
  }

  &:hover {
    background-color: #ddd;
    color: black;
  }
}
th {

  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
  border-bottom-style:solid;
}

td {
  font-size: 16px;
  padding: 10px 40px 0px;
  border-bottom-style:solid;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}



.menu {
  overflow: hidden;
  background-color: #333;
  box-shadow: 3px 3px 15px;
  list-style-type: none;
  position: static;
  width: 100%;
}


.menu  a {
  font-size: 25px;
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;

}

.menu a:hover {
  background-color: #47b749;
  color: black;
}
.button{
  background-color: #333;
  border: none;
  color: #f2f2f2;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top:30px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 2px;
}
.userbutton{
  background-color: #333;
  border: none;
  color: #f2f2f2;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top:10px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 8px;
}
.grid-container {
  display:grid;
  grid-template-columns: 25% 60% 15%;
  padding: 10px;
}
.grid-item {
  overflow-x:hidden;
  padding: 5px;
  font-size: 14px;
  text-align: left;
}
.usertable{
  padding-top: 30px;
  padding-left: 20px;
  font-size: 25px;
}
.login{
  font-size: 16px;
  margin-left: 20px;
}
.enter{
  font-size: 30px;
}
.currentUser{
  padding-top: 20px;
  font-size: 16px;
}
.notice{
  color: red;
  font-size: 20px;
}
.zd{
  color: black;
  padding-top: 20px;
  font-size: 30px;
  font-style: italic;
}
